body {
	font-family:  "pragmatica-web-condensed-1","pragmatica-web-condensed-2";
	margin: 0px;
	padding: 0px;
}

#map {
	width: 100%;
	height: 100%;
}

h1 {
	color: white;
	padding: 0px;
	margin: 0px;
}

h2 {
	padding: 0px;
	margin: 0px;
	font-size: small;
}

fieldset {
	border: none;
	padding: 0px;
}

#sidebar {
	position: absolute;
	color: #f33;
	z-index: 1000;
	padding: 10px;
	top: 100px;
	left: 0px;
	width: 250px;
	background-color: #666;
	opacity: 0.8;
	color: white;
}